h1, h2{
    text-align: center;
    color: white;
}

div{
    overflow:hidden;
    background-color: black;
    border: solid;
    border-width: 2px;
    border-color: black;
    opacity: 0.5;
}

#chart_div{
    padding-left: 20px;
    padding-right: 20px;
    border: transparent;
}

#header{
    margin-left: 50px;
    margin-right: 50px;
    border: transparent;
}

#footer{
    margin-top: 20px;
}

p{
    color: white;
}

body{
    background-image: url(http://p1.pichost.me/i/66/1906205.jpg);
}