h1, h2{
    text-align: center;
    color: white;
    font-family: Georgia;
}

.headdiv {
    background-color: black;
    background: rgba(0, 0, 0, 0.4);
    margin-left: 300px;
    margin-right: 300px;
    padding: 25px;
    border-radius: 10px;
}

#body{
    background-color: black;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

#chart_div{
    padding-left: 20px;
    padding-right: 20px;
    border: transparent;
    align-content: center;
}

#header{
    margin-left: 50px;
    margin-right: 50px;
    border: transparent;
}

#footer{
    margin-top: 20px;
}

p{
    color: white;
}

body{
    background-image: url(http://p1.pichost.me/i/66/1906205.jpg);
}